
<div class="left-side">
    <div class="side-wrapper">
        <div class="side-title">Quản lý chung</div>
        <div class="side-menu">
            <div class="left-side_item">
                <a href="#">
                    <i class="fa-regular fa-user"></i>
                    Tài khoản
                </a>
                <ul class="leftside-dropdown">
                        <a asp-action="Index" asp-controller="Account" asp-area="Admin">Danh sách tài khoản</a>
                        <a asp-action="CreateAccountStaff" asp-controller="Account" asp-area="Admin">Thêm mới tài khoản</a>
                </ul>
            </div>
            <div class="left-side_item">
                <a href="#">
                    <i class="fa-solid fa-person"></i>
                    Nhân viên
                </a>
                <ul class="leftside-dropdown">
                    <a>Danh sách nhân viên</a>
                    <a>Thêm nhân viên mới</a>
                </ul>
            </div>
            <div class="left-side_item">
                <a href="#">
                    <i class="fa-solid fa-person"></i>
                    Nhóm nhân viên
                </a>
                <ul class="leftside-dropdown">
                    <a>Danh sách nhóm nhân viên</a>
                    <a>Tạo nhóm nhân viên</a>
                </ul>
            </div>
            <div class="left-side_item">
                <a href="#">
                    <i class="fa-solid fa-circle-dollar-to-slot"></i>
                    Lương nhân viên
                </a>
                <ul class="leftside-dropdown">
                    <li>Danh sách lương nhân viên</li>
                </ul>
            </div>
            <div class="left-side_item">
                <a href="#">
                    <i class="fa-solid fa-marker"></i>
                    Chấm công
                </a>
                <ul class="leftside-dropdown">
                    <li>Danh sách chấm công</li>
                </ul>
            </div>
            <div class="left-side_item">
                <a href="#">
                    <i class="fa-solid fa-people-roof"></i>
                    Phòng ban
                </a>
                <ul class="leftside-dropdown">
                    <li>Danh sách phòng ban</li>
                </ul>
            </div>

            <div class="left-side_item">
                <a href="#">
                    <i class="fa-solid fa-person-walking-luggage"></i>
                    Nghĩ phép
                </a>
                <ul class="leftside-dropdown">
                    <li>Danh sách nghĩ phép</li>
                </ul>
            </div>
            <div class="left-side_item">
                <a href="#">
                    <i class="fa-solid fa-person-arrow-up-from-line"></i>
                    Đào tạo
                </a>
                <ul class="leftside-dropdown">
                    <li>Danh sách đào tạo</li>
                </ul>
            </div>
            <div class="side-title">Quản lý riêng</div>
            <div class="left-side_item">
                <a href="#">
                    <i class="fa-solid fa-chart-simple"></i>
                    Hiệu suất
                </a>
                <ul class="leftside-dropdown">
                    <li>Danh sách hiệu suất</li>
                </ul>
            </div>
            <div class="left-side_item">
                <a href="#">
                    <i class="fa-solid fa-book-open"></i>
                    Công việc
                </a>
                <ul class="leftside-dropdown">
                    <li>Danh sách Công việc</li>
                </ul>
            </div>
            <div class="left-side_item">
                <a href="#">
                    <i class="fa-regular fa-handshake"></i>
                    Hợp đồng lao động
                </a>
                <ul class="leftside-dropdown">
                    <li>Danh sách HĐLĐ</li>
                </ul>
            </div>
            <div class="left-side_item">
                <a href="#">
                    <svg viewBox="0 0 512 512">
                        <g xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                            <path d="M0 0h128v128H0zm0 0M192 0h128v128H192zm0 0M384 0h128v128H384zm0 0M0 192h128v128H0zm0 0" data-original="#bfc9d1" />
                        </g>
                        <path xmlns="http://www.w3.org/2000/svg" d="M192 192h128v128H192zm0 0" fill="currentColor" data-original="#82b1ff" />
                        <path xmlns="http://www.w3.org/2000/svg" d="M384 192h128v128H384zm0 0M0 384h128v128H0zm0 0M192 384h128v128H192zm0 0M384 384h128v128H384zm0 0" fill="currentColor" data-original="#bfc9d1" />
                    </svg>
                    Vị trí
                </a>
                <ul class="leftside-dropdown">
                    <li>Danh sách vị trí</li>
                </ul>
            </div>
        </div>
    </div>
</div>