.modal-create-account {
    background-color: var(--theme-bg-color);
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Màu nền với độ trong suốt 50% */
    z-index: 999; /* Đặt z-index để nó nằm trên các phần tử khác */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none; /* Vô hiệu hóa tương tác chuột */
    transition: opacity 0.3s ease; /* Áp dụng hiệu ứng xuất hiện mượt mà */
}